<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h2>Attendance Dashboard</h2>

<h3>Total Attendance: {{ count }}</h3>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<form action="/clear" method="post">
    <button type="submit">Clear All</button>
</form>

</body>
</html>
