<!DOCTYPE html>
<html>
<head>
    <title>QR Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>

<div class="container">
    <h2>Scan QR to Mark Attendance</h2>

    <div id="reader" style="width:300px;"></div>

   <form action="/scan" method="post">
    <input type="text" id="studentName" placeholder="Enter your name" required>
    <br><br>
    <input type="hidden" name="name" id="name">
    <button type="submit">Submit Attendance</button>
</form>
</div>

<script>
function onScanSuccess(decodedText) {
    let student = document.getElementById("studentName").value;
document.getElementById("name").value = student;
}
let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 }
);
html5QrcodeScanner.render(onScanSuccess);
</script>
    
<div class="container">
    <h2>Scan QR to Mark Attendance</h2>

    <img src="{{ url_for('static', filename='qr.png') }}" alt="Attendance QR" style="width:200px; height:200px; margin-bottom: 20px;">

    <div id="reader" style="width:300px; margin: 0 auto;"></div>
    ...
</body>
</html>
